.body{
    background:  linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
    margin-top:0px;
    margin-bottom: 10px;
}

.card {
    width: 98%;
    margin: 1%;
}
th, td{
    text-align: center;
}
.card-body{
    padding: 10px 15px;
}
.container2{
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-top:20px;
    padding: 10px 2.5vw 10px;

}

.container1{
    margin: 0px 3% 10px;
    width: 94%;
    background: white;
    padding: 20px;
    /*-webkit-box-shadow: 4px 4px 9px 3px black;*/
}

.select .option{
    width: 80%;
    height: calc(1.6em + 0.75rem + 2px);
}

#wait{
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    text-align:center;
    z-index:100000;
    font-weight: bold;
    font-size: 2em;
    padding-top:50%;
    background: rgba(232, 232, 232, 0.5);
    color: rgb(247, 89, 89);
}
.loading_badge{
    height: 100px;
}
.wait_cont{
    border:solid;
    width: 300px;
    margin: 0 auto;
    background-color:white;
    border-radius: 200px;
    padding: 2%;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/nunito-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v16-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
  }

  .navItem{
    background-color: #0595d2;
    display:inline;
    padding: 10px;
    margin: 5px;
    line-height: 50px;
  }
  .navItem a{
      color:white;
      font-size: 1.5em;
  }


